<style>
    .divBox {
        margin: 20px 0px 0px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>

<form [formGroup]="form">
    <div style="margin-left: 17px; font-size: 40px; font-weight: 1000; font-family: Verdana, Geneva, Tahoma, sans-serif">Book a Flight
    </div>
    <div class="divBox" style="max-width: 500px; color: darkblue; font-size: 20px; font-weight: 750;">
        <div class="col">
            Full Name (English)
            <span style="color: red;" *ngIf="form.get('fullname')?.errors?.['required']">*</span>
            <input formControlName="fullname" class="form-control" type="text" style="margin-top: 2px;">
        </div>
        <div style="margin-bottom: 25px"></div>
        <div class="row">
            <div class="col" style="padding: 0px 12px 0px 12px;">
                From
                <span style="color: red;" *ngIf="form.get('from')?.errors?.['required']">*</span>
                <select formControlName="from" class="form-select" aria-label="Default select example"
                    style="margin-top: 2px;">
                    <option value="Chiang Mai (CNX)">Chiang Mai (CNX)</option>
                    <option value="Bangkok (BKK)">Bangkok (BKK)</option>
                    <option value="Phuket (HKT)">Phuket (HKT)</option>
                    <option value="Lampang (LPT)">Lampang (LPT)</option>
                    <option value="U-Tapao (UTP)">U-Tapao (UTP)</option>
                    <option value="Hat Yai (HDY)">Hat Yai (HDY)</option>
                </select>
            </div>
            <div class="col" style="padding: 0px 12px 0px 0px;">
                To
                <span style="color: red;" *ngIf="form.get('to')?.errors?.['required']">*</span>
                <select formControlName="to" class="form-select" aria-label="Default select example"
                    style="margin-top: 2px;">
                    <option value="Bangkok (BKK)">Bangkok (BKK)</option>
                    <option value="Chiang Mai (CNX)">Chiang Mai (CNX)</option>
                    <option value="Phuket (HKT)">Phuket (HKT)</option>
                    <option value="Lampang (LPT)">Lampang (LPT)</option>
                    <option value="U-Tapao (UTP)">U-Tapao (UTP)</option>
                    <option value="Hat Yai (HDY)">Hat Yai (HDY)</option>
                </select>
            </div>
        </div>
        <div style="margin-bottom: 25px"></div>
        <div style="margin-left: 0.1px;">
            Trip Type
            <span style="color: red;" *ngIf="form.get('departure')?.errors?.['required']">*</span>
            <div class="col">
                <input formControlName="type" class="form-check-input" style="margin: 2px 9px 0px 0px;" type="radio"
                    name="type" value="One-way" id="oneway" (change)="radioChangeHandler($event)" checked="checked">
                <label class="form-check-label" style="margin: 0px 12px 0px 0px; font-size: 16px; font-weight: 450;"
                    for="oneway">One-way</label>
                <input class="form-check-input" style="margin: 2px 9px 0px 0px;" type="radio" name="type" value="Return"
                    id="return" (change)="radioChangeHandler($event)">
                <label class="form-check-label" style="font-size: 16px; font-weight: 450;" for="return">Return</label>
            </div>
        </div>
        <div style="margin-bottom: 25px"></div>
        <div *ngIf="typeR==='One-way'" class="row" style="padding-left: 12px">
            <div class="col" style="padding: 0px 12px 0px 0px;">
                Depart date
                <!-- <span style="color: red;" *ngIf="form.get('departure')?.errors?.['required']">*</span> -->
                <input formControlName="departure" class="form-control" type="datetime-local"
                    style="margin-top: 2px;  width: 244px;">
            </div>
            <div class="col"></div>
        </div>
        <div style="margin-bottom: 25px"></div>
        <div *ngIf="typeR==='Return'" class="row" style="padding-left: 12px">
            <div class="col" style="padding: 0px 12px 0px 0px;">
                Depart date
                <!-- <span style="color: red;" *ngIf="form.get('departure')?.errors?.['required']">*</span> -->
                <input formControlName="departure" class="form-control" type="datetime-local"
                    style="margin-top: 2px; width: 244px;">
            </div>
            <div class="col" style="padding: 0px 12px 0px 0px;">
                Return date
                <!-- <span style="color: red;" *ngIf="form.get('arrival')?.errors?.['required']">*</span> -->
                <input formControlName="arrival" class="form-control" type="date"
                    style="margin-top: 2px;  width: 244px;">
            </div>
        </div>
        <div style="margin-bottom: 25px"></div>
        <label style="padding-left: 0px; margin-right: 5px;">Passengers</label>
        <span style="color: red;"
            *ngIf="((form.value.children > 0 || form.value.adults > 0 || form.value.infants > 0))===false">*</span>
        <div class="row" style="padding-left: 12px">
            <div class="col" style="padding: 0px 12px 0px 0px; font-size: 14px; font-weight: 450;">
                Children
                <input formControlName="children" class="form-control" type="number" style="margin-top: 2px;"
                    [defaultValue]="0">
            </div>
            <div class="col" style="padding: 0px 12px 0px 0px; font-size: 14px; font-weight: 450;">
                Adults
                <input formControlName="adults" class="form-control" type="number" style="margin-top: 2px;"
                    [defaultValue]="0">
            </div>
            <div class="col" style="padding: 0px 12px 0px 0px; font-size: 14px; font-weight: 450;">
                Infants
                <input formControlName="infants" class="form-control" type="number" style="margin-top: 2px;"
                    [defaultValue]="0">
            </div>
        </div>
        <div style="margin-bottom: 25px"></div>
        <br>
        <div class="row" style="padding-left: 12px"
            *ngIf="(form.valid && (form.value.children > 0 || form.value.adults > 0 || form.value.infants > 0))===true">
            <button [disabled]="form.invalid" (click)="submitForm()" type="button" class="btn btn-success"
                style="max-width: 500px;">submit</button>
        </div>
        <div class="row" style="padding-left: 12px"
            *ngIf="(form.valid && (form.value.children > 0 || form.value.adults > 0 || form.value.infants > 0))===false">
            <button
                [disabled]="!(form.valid && (form.value.children > 0 || form.value.adults > 0 || form.value.infants > 0))"
                (click)="submitForm()" type="button" class="btn btn-success" style="max-width: 500px;">submit</button>
        </div>
    </div>
</form>

<br /><br /><br />
<div style="width: 500px; margin-left: 20px; margin-bottom: 50px;" *ngIf="show">
    <table class="table">
        <thead class="thead-dark" style="background-color: black; color: white">
            <tr>
                <th scope="col" style="font-weight: 700;">Booking Data</th>
                <th scope="col" style="font-weight: 700;">#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-weight: 500; color: green;"> Name      : </td>
                <td> {{ form.get('fullname')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> From      : </td>
                <td> {{ form.get('from')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> To        : </td>
                <td> {{ form.get('to')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Trip type : </td>
                <td> {{ typeR}} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Departure :</td>
                <td> {{ form.get('departure')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Arrival   :</td>
                <td> {{ form.get('arrival')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Children  :</td>
                <td> {{ form.get('children')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Adults    :</td>
                <td> {{ form.get('adults')?.value }} </td>
            </tr>
            <tr>
                <td style="font-weight: 500; color: green;"> Infants   :</td>
                <td> {{ form.get('infants')?.value }} </td>
            </tr>
        </tbody>
    </table>
</div>